@import url(http://fonts.googleapis.com/css?family=VT323|Pacifico|Nova+Mono);
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$colors: #fc6956, #8f7cd2, #ffee37,#00e2a8;
$base-size: 6px;
$speed: 3s;

/*------------------------------------*\
    $Box
\*------------------------------------*/

*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

@mixin center($width, $height) {
	position: absolute;
	left: 50%;
	top: 50%;
	height: $height;
	width: $width;
	margin-left: - $width / 2;
	margin-top: - $height / 2;
}

/*------------------------------------*\
    $REST
\*------------------------------------*/

body {
	font-size:$base-size;
	background-color: rgb(254, 193, 160);
    overflow:hidden;
    font-family: 'Nova Mono', monospace;
}
span.iphone {
	@include center(50em, 100em);
	background-size: 50em 100em;
	background-image: url('http://beta.rss-ems.com/download/iphone.png');
	background-repeat: no-repeat;
}

.desktop{
	display: block;
	position: absolute;
	z-index: 5;
	width: 242px;
	height: 420px;
	top: 92px;
	left: 32px;
	filter: blur(5px);
	opacity: 0.7;
}
.app_icon{
	display: block;
	position: relative;
	z-index: 10;
	width: 125px;
	height: auto;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FE5900;
	border-radius: 30px;
	box-shadow: 2px 2px 2px #FF1200;
}

.app_logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 5em;
	// color: #4A4A4A;
	text-align: center;
	font-weight: bold;
	position: relative;
	z-index: 10;
	.do{
		display: inline-block;
		position: relative;
		left: 10px;
	}
	.more{
		display: inline-block;
		position: relative;
		color: white;
		left: -5px;
	}
}

// ul.boxes {
// 	li{
// 		width: 10em;
// 		height: 10em;
// 		display: inline-block;
// 		border-radius: 0.5em;
// 		list-style: none;
// 		position: absolute;
// 		top:100%;
// 		left: 50%;
// 		margin-left:-35em;
// 		-webkit-animation: littleBoxes $speed infinite;
// 		-webkit-box-shadow: -1px 1px 0 1px rgba(0,0,0,0.1);
// 	}
// }

// @for $i from 1 through 4{
// 	ul li:nth-child(4n+#{$i}) {
// 		background:nth($colors, $i);
// 		-webkit-animation-delay:$speed * $i /4;
// 	}
// }


/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/


@-webkit-keyframes littleBoxes {
	25%{
		width: 10em;
		height: 10em;
		top: 50%;
		left: 50%;
		margin: -5em 0 0 -35em;
		-webkit-transform: rotate(-90deg);
		border-radius: 0.5em;
	}
	50%{
		-webkit-transform: rotate(-180deg);
		top: 50%;
		left: 50%;
		width: 20em;
		height: 35em;
		margin: -17.5em 0 0 -10em;
		border-radius: 0em;
	}
	75%{
		width: 10em;
		height: 10em;
		top: 50%;
		left: 50%;
		margin: -5em 0 0 25em;
		-webkit-transform: rotate(-270deg);
		border-radius: 0.5em;
	}
	100%{
		top:100%;
		left: 50%;
		margin-left:25em;
	}
}
